.showCity {
    z-index: 1000;
    display: none;
    position: absolute;
    width: 100%;
    background: #E9EAEE;
    height: auto;
}

.showCity ul {
    padding: 0;
    /*margin: 0;*/
    list-style-type: none;
}

.showCity p {
    text-align: center;
    border-bottom: 1px solid gray;
    padding: 20px 0;
    font-weight: 500;
    color: #333333;
    cursor: pointer;
    margin: 0;
}

.showCity p:hover {
    background: #ffffff;
    transition: all .3s;
}

.showCity p a {
    color: #333333;
    text-decoration: none;
}

md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar) {
    background-color: #282C34;
    color: #F9F9F9;
}

.md-toolbar-tools h1, .md-toolbar-tools h2, .md-toolbar-tools h3 {
    font-size: x-large;
}

.pagination {
    margin: 0;
    padding-left: 30px;
}

.pull-right {
    padding-right: 30px;
}

@media (max-width: 959px) and (min-width: 0) and (orientation: portrait) {
    .md-toolbar-tools {
        height: 100px;
        max-height: 100px;
    }
}

.table {
    width: unset;
    max-width: none;
    margin: 20px;
}

.md-toolbar-tools .specPosit {
    width: 100%;
}
